.name {
  text-align: center;
  width: 100%;
}

.topnav {
  overflow: hidden;
  display: inline-block;
  text-align: center;
  width: 100%
}

.topnav a {
  color: #2c2929;
  display: inline-block;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  text-decoration:underline;
  color: #4fbd4b
}

.topnav a.active {
  text-decoration: underline;
}

.resume {
  display: block;
  border:none;
  padding-top: 50px;
  margin: 0 auto;
  width: 80%;
  height: 800px;
}