html {
    height: 100%;
    margin: 0 0;
}

body {
    background-color: #1E1E1E;
    color: #FFF;
    height: 100%;
    margin: 0 0;
}

#loader {
    display: block;
    font-family: monospace;

}

#loaded {
    display: block;
    font-family: 'Noto Sans Display', monospace;
    font-weight: bold;
    font-size: 13pt;
    color: #FFF;
    height: 100%;
    margin: 0 0;
}

.prefix {
    color: #2A9D68;
    font-size: 15pt;
    font-weight: bold;
}

.colon {
    color: #FFF;
    font-size: 15pt;
    font-weight: bold;
}

.path {
    color: #1C4487;
    font-size: 15pt;
    font-weight: bold;
}

.command {
    color: #FFF;
    font-size: 15pt;
    font-weight: bold;
}

.terminalLine {
    visibility: hidden;
    display: block;
    margin-left: 15px;
}

.cursor {
    display: inline-block;
    width: 10px;
    height: 15pt;
    background-color: white;
    margin-left: 4px;
}

#sidenav {
    width: 25%;
    min-width: 195px;
    max-width: 250px;
    height: 100%;
    background-color: #252526;
    float: left;
}

#sidenav p {
    padding: 15px 2px;
    margin: 0 0;
}

#sidenav a {
    display: block;
    text-decoration: none;
    font-size: 12pt;
    padding: 5px 40px;
}

#sidenav a:visited {
    color: white;
}

#sidenav a:hover {
    background-color: #32323D;
}

#sidenav a.focus {
    color: #E19A5C;
}

#content {
    margin-left: 80px;
    height: 100%;
    width: calc(100% - 100px)
}

.resume {
    height: 100%;
    width: 100%
}

#terminal {
    width: calc(100% - 240px);
    float: left;
}

#skip {
    background-color: #1C4487;
    color: white;
    font-weight: bold;
    font-size: 15pt;
    border: none;
    width: 200px;
    height: 30px;
    float: right;
    margin: 12px 20px;
    cursor: pointer;
}

#lineNumbers {
    width: 60px;
    margin-left: 20px;
    float: left;
}

#lineNumbers p{
    color: #757A6E;
    margin: 2px 0;
}

#social {
    width: 75px;
    float: left;
    height: 100%;
    background-color: #333;
    text-align: center;
    padding-top: 5px;
}

#social img {
    padding: 7px 0;
}

#fileScreen {
    float: left;
    height: 100%;
    width: calc(100% - 325px);
}

#content p {
    margin: 2px 0;
}

#fileName {
    width: 100%;
    height: 40px;
    background-color: #252526;
    border-bottom: 2px solid #131313;
}

#fileName p {
    background-color: #1E1E1E;
    margin: 0 0;
    height: 30px;
    width: 175px;
    text-align: center;
    color: #E19A5C;
    padding-top: 10px;
}

#file {
    padding-top: 10px;
    height: calc(100% - 50px);
}

#wilaCaret {
    margin: 0 5px;
    padding: 0 0;
    width: 15px;
}

.closed {
    height: 15px;
    margin-right: 12px;
}

.open {
    width: 15px;
    margin-right: 5px;
}

.sublink {
    padding-left: 70px !important;
}

.comment {
    color: #689955
}
