body {
    background-color: #380C2A;
    color: #FFF;
}

#loader {
    display: block;

}

#loaded {
    display: none;
    color: #FFF;
}

.prefix {
    color: #2A9D68;
    font-size: 15pt;
    font-weight: bold;
    font-family: monospace;
}

.colon {
    color: #FFF;
    font-size: 15pt;
    font-weight: bold;
    font-family: monospace;
}

.path {
    color: #1C4487;
    font-size: 15pt;
    font-weight: bold;
    font-family: monospace;
}

.command {
    color: #FFF;
    font-size: 15pt;
    font-weight: bold;
    font-family: monospace;
}

.terminalLine {
    display: none;
}

.cursor {
    display: inline-block;
    width: 10px;
    height: 15pt;
    background-color: white;
    margin-left: 8px;
}